{% extends "base.html" %} {% load crispy_forms_tags %}
{% load static %}


{% block title %} Sprzedaż produktu {% endblock title %}


{% block content %}
<html>
<div class="container bg-success px-5 py-5">
    <div class="row d-flex align-items-center justify-content-center mb-5 mt-3 text-dark">
        <div class="col-md-5" style="font-style: bold; font-size: 3rem;">
               SPRZEDAŻ <i class="fas fa-cart-plus"></i>
        </div>
        <div class="col-md-3 text-right">
        </div>
        <div class="col-md-4 mt-3 text-right">
            <a href="{% url 'edit-stock' produkt.numer_produktu %}" class="btn form-control btn-warning">Edytuj Produkt</a>
        </div>
    </div>
    <form method="POST">
            {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <table class="table table-success table-hover px-1">
                    <tbody>
                        <tr>
                            <td scope="col">Data</td>
                                <input hidden type="text" name="czas" id="czas" value="{{now}}">
                            <td>{{ now }}</td>
                        </tr>
                        <tr>
                            <td scope="col">Nazwa</td>
                            <td class="h4"><a href="{% url 'edit-stock' produkt.numer_produktu %}">{{ produkt.name }}</a></td>
                        </tr>
                         <tr>
                            <td scope="col">Numer produktu</td>
                             <input hidden type="text" name="produkt" value="{{produkt.id}}">
                            <td class="h3">{{ produkt.numer_produktu }}</td>
                        </tr>
                        <tr>
                            <td scope="col">Kategoria</td>
                            <td>{{ produkt.kategoria.capitalize }}</td>
                        </tr>
                        <tr>
                            <td scope="col">Ilość <span class="text-muted"> <br>MAGAZYN: {{produkt.ilosc}}</span></td>
                            <td>
                                {{form.ilosc}}
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">Cena jednostokowa</td>
                            <td>
                                {{form.cena}}
                            </td>
                        </tr>

                        <tr>
                            <td scope="col">Rabat</td>
                            <td>
                                {{form.rabat}}
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">Wartość całkowita !!</td>
                            <td>
                                {{ form.wartosc }}
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                VAT
                            </td>
                            <td>
                                <div class="form-row">
                                    <div class="col-md-5">
                                        {{ form.vat_procent }}
                                        <span id="vat_wartosc" class="ml-3">0 PLN</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">Dodatkowe informacje</td>
                            <td>{{ produkt.informacje }}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-danger mx-2 mb-3" style="height: 60px; width: 80%;">
                    <h3>Potwierdź Sprzedaż</h3>
                </button>
            </div>
            <div class="col-md-12 col-lg-4 text-center mt-5 px-4">
                <img src="{{produkt.barcode.url}}" class="img align-self-center mr-3" alt="barcode"
                             style="max-width: 240px">
                <div class=" mt-3 bg-success">
                    <label for="form.informacje.name">Dodatkowe informacje o sprzedaży</label>
                    {{form.uwagi}}
                </div>
                 <div class="text-right px-2 mt-3">
            <a href="{% url 'inventory' %}" class="btn btn-primary form-control ">Wróć</a>
        </div>
            </div>
        </div>
    </form>
    <div class=" col-md-11 text-right">
</div>
</div>
</html>
<!-- Custom JS to add and remove item forms -->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/dialogbox.js' %}"></script>

<script>
    console.log('lolololo')
    var cena = $("#cena").val();
    $("#wartosc").val((cena * $('#ilosc').val()).toFixed(2));


// RABAT CALCULATIONS
    $("#rabat").on("keyup change", function(e) {
        var rabat = $("#rabat").val();

        if (rabat > 0) {
            price = cena - (cena * (rabat / 100))
            $("#cena").val(price.toFixed(2));
        } else {
             $("#cena").val(cena);
        };
        $("#wartosc").val(($('#cena').val() * $('#ilosc').val()).toFixed(2));
        updateVAT()


    });

// WARTOSC CALCULATIONS

    // WHEN ILOSC CHANGES
    $("#ilosc").on("keyup change", function(e) {
        var ilosc = $("#ilosc").val();
        console.log(ilosc)

        wartosc = ilosc * $("#cena").val()
        $("#wartosc").val(wartosc.toFixed(2));
        $("#wartosc_text").text(wartosc.toFixed(2));
        updateVAT()

    });

    // WHEN CENA CHANGES
    $("#cena").on("keyup change", function(e) {
        var ilosc = $("#ilosc").val();

        wartosc = ilosc * $("#cena").val()
        $("#wartosc").val(wartosc.toFixed(2));
        $("#wartosc_text").text(wartosc.toFixed(2));
        updateVAT()
    });

// VAT CALCULATIONS
    function updateVAT() {
        vat_wartosc = ($("#wartosc").val() * ($("#vat_procent").val() / 100))
        $("#vat_wartosc").text(vat_wartosc.toFixed(2));
    };

    $("#vat_procent").on("keyup change", function(e) {
        updateVAT()
    });

</script>

{% endblock content %}