{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Historia Sprzedaży {% endblock title %}


{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center align-items-center mb-4">
        <div class="col-md-12 col-lg-12 h2">
            OBRÓT DZIENNY: <span class="badge badge-primary h2 mt-4">{{sprzedaz_dzienna}} zł</span>  <br>
            OBRÓT TYGODNIOWY: <span class="badge badge-primary h2">{{sprzedaz_tygodniowa}} zł </span>
        </div>
    </div>

    <div class="row my-2" style="color: #ea2088; font-style: bold; font-size: 3rem;">
        <div class="col-md-8">Historia Sprzedaży</div>
    </div>
    <div class="row">
        <table class="table table-hover table-stripped w-100">
            <thead class="thead-inverse align-middle">
                <tr>
                    <th>DATA</th>
                    <th>PRODUKT</th>
                    <th>ILOŚć</th>
                    <th>CENA</th>
                    <th>RABAT</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for rachunek in rachunki %}
                <tr style="background-color: #6495ED">
                    <td>{{rachunek.czas}}</td>
                    <td colspan="4" class="text-right">
                        <a href="{% url 'faktura-dane' pk=rachunek.id %}"
                           class="ml-4 btn btn-dark btn-sm" target="_blank">
                            <i class="ml-2 fas fa-print"></i>
                            WYSTAW FAKTURĘ
                        </a>
                    </td>
                    <td>       
                        <span class="font-weight-bold"> {{rachunek.wartosc}} PLN</span>
                    </td>
                </tr>
                    {% for r in rachunek.transakcja_set.all %}
                    <tr>
                        <td>

                        </td>
                        <td>
                            <a href="{% url 'edit-stock' r.produkt.numer_produktu %}">{{r.produkt.nazwa}}</a>
                        </td>
                        <td>
                            {{r.ilosc}} SZT
                        </td>
                        <td>
                            {{r.cena}} PLN
                        </td>
                        <td>
                            {{r.rabat}} %
                        </td>
<!--                        <td>-->
<!--                            {% if r.vat_procent == '0' %}-->
<!--                                - -->
<!--                            {% else %}-->
<!--                                {{r.vat_wartosc}} PLN ({{ r.vat_procent}}%)-->
<!--                            {% endif %}-->
<!--                        </td>-->
                        <td>
                            {{ r.wartosc}} PLN
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}