{% extends "base.html" %} {% load widget_tweaks %} {% load static %} {% load tags %}

{% block title %} Stan magazynu {% endblock title %}

{% block content %}
<div class="container">

    <div class="row d-flex justify-content-center align-items-center mb-4">
        <div class="col-md-12 col-lg-5" style="color: #ea2088; font-style: bold; font-size: 3rem; ">
            MAGAZYN
        </div>
        <div class="col-md-12 col-lg-5 h2">
            <span class="badge badge-primary h3 mt-4">{{all_stock}}</span> produktów |
            <span class="badge badge-primary h3"> {{all_kategorie}} </span> kategorie
        </div>
    </div>

    <div class="row form-row">
        <div class="col-lg-5 col-md-12 mx-2 my-2 mb-5">
            <form method="get">
                <div class="input-group search" style="">
                    {% render_field filter.form.numer_produktu style="height: 50px; font-size: 1.5rem" class="form-control textinput" placeholder="Szukaj po numerze" %}
                    <div class="input-group-append">
                       <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Szukaj </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-5 col-md-12 mx-2 my-2">
            <form method="get">
                <div class="input-group search">
                    {% render_field filter.form.nazwa style="height: 50px; font-size: 1.5rem" class="form-control textinput" placeholder=" Szukaj po nazwie" %}
                    <div class="input-group-append">
                       <button type="submit" class="btn btn-primary"> <i class="fas fa-search"></i> Szukaj </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-11 col-md-12 text-right mx-2 mb-3">
        <a class="btn btn-success my-1 mx-2" href="{% url 'new-stock' %}">
            <i class="fas fa-plus"></i> Dodaj nowy produkt
        </a>

        <a href="{% url 'csv' %}"> <button class="my-1 mx-2 btn btn-primary">
            <i class="fas fa-print"></i>
           Drukuj <span class="badge badge-light">{{request.session.qs|length}}</span>
            pozycji
        </button></a>
    </div>

    <div class="row d-flex justify-content-center">
        <table class="table table-hover table-responsive text-center">
            <thead class="thead-inverse align-middle">
                <tr>
                    <th>Nazwa</th>
                    <th>Kategoria</th>
                    <th>Ilość</th>
                    <th>Cena</th>
                    <th>Wartość</th>
                    <th>Opcje</th>

                </tr>
            </thead>
            {% if object_list %}
            <tbody>
                {% for stock in object_list %}
                    <tr>
                        <td class="align-middle">
                            <h5><a href="{% url 'edit-stock' stock.numer_produktu %}">{{ stock.nazwa }}</a></h5>
                        </td>
                        <td class="align-middle">
                            {{ stock.kategoria.capitalize }}
                        </td>
                        <td class="align-middle">
                            {{ stock.ilosc }}
                        </td>
                        <td class="align-middle">
                            {{ stock.cena }} PLN
                        </td>
                        <td class="align-middle">
                            {{ stock.wartosc }} PLN
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'edit-stock' stock.numer_produktu %}" class="btn my-1 btn-sm btn-warning">Edytuj <i class="fas fa-edit"></i></a>
                            <a href="{% url 'transaction-new' stock.numer_produktu %}" class="btn my-1 btn-sm btn-success">Sprzedaj <i class="fas fa-cart-plus"></i></a>
                            <a href="{% url 'delete-stock' stock.numer_produktu %}" class="btn my-1 btn-sm btn-danger">Skausj <i class="fas fa-minus-circle"></i></a>

                        </td>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>

        <div class="align-middle">
            {% if is_paginated %}

                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?{% url_replace page=1 %}">Pierwsza</a>
                    <a class="btn btn-outline-info mb-4" href="?{% url_replace page=page_obj.previous_page_number %}">Poprzednia</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?{% url_replace page=num %}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?{% url_replace page=num %}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?{% url_replace page=page_obj.next_page_number %}">Następna</a>
                    <a class="btn btn-outline-info mb-4" href="?{% url_replace page=page_obj.paginator.num_pages %}">Poprzednia</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>



{% endblock content %}