{% extends "base.html" %} {% load widget_tweaks %} {% load static %}

{% block title %} Strona główna {% endblock title %}

{% block content %}

<style>
.card {
    min-height: 200px
    }
</style>

<div class="container">

        <div class="col-md-10" style="color:#ea2088; font-style: bold; font-size: 2rem;">
            Witojcie {{ request.user.username.capitalize }}!</div>
        <div  id="container" style="position: relative; height:30vh; border: none; border-radius: 30px;"
            class=" hide-xs align-middle table-bordered"><canvas id="bar-graph"></canvas>
        </div>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-10">
            <form method="GET" id="szukaj_numer" action="{% url 'scanner' %}">
                <div class="row form-row">
                    <div class="col-lg-12 col-md-12 my-3">
                        <div class="input-group search" style="">
                            <input style="height: 90px; font-size: 1.8rem" class="form-control"
                                   type="number" placeholder="NUMER PRODUKTU" autofocus
                                   name="numer_produktu" id="numer_produktu" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block"
                        style="font-size: 1.5rem; height: 60px;">SZUKAJ</button>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-5 mx-2 my-2">
            <div class="card bg-info">
                <div class="card-body">
                    <a href="{% url 'inventory' %}"><button class="btn w-100 h-100"
                        style="font-size: 2.7rem;">
                        LISTA PRODUKTÓW
                    </button></a>
                </div>
            </div>
        </div>
        <div class="col-md-5 mx-2 my-2">
            <div class="card bg-primary">
                <div class="card-body">
                     <a href="{% url 'new-stock' %}">
                         <button class="btn w-100 h-100" style="font-size: 2.7rem;">
                        DODAJ NOWY PRODUKT
                    </button></a>
                </div>
            </div>
        </div>
        <div class="col-md-5 mx-2 my-2">

        </div>
    </div>
    <div class="row"></div>
</div>


<!-- Button trigger modal -->

    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>

<script>
      function play() {
        var audio = document.getElementById("audio");
        audio.play();
      }

        Chart.defaults.global.defaultFontColor = 'black';

        //configuration for the bar graph
        var barConfig = {
            type: 'bar',
            data: {
                datasets: [{
                    backgroundColor: '#ea2088',
                    label: 'TOP 30 Najczęściej sprzedawane',
                    data: {{ data|safe }},
                }],
                labels: {{ labels|safe }}
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            },
        };


        //runs all charts on loading the webpage
        window.onload = function() {
            var ctx = document.getElementById('bar-graph').getContext('2d');
            window.BarStock = new Chart(ctx, barConfig);
        };

</script>

{% endblock content %}