{% load static %}

{% load crispy_forms_tags %}

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <!-- Main CSS, then Sidebar CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">    
    
    <title>Invi - Login</title>

</head>

<body style="background-image: linear-gradient(to left top, #dadada, #d3d4df, #c8d0e5, #b7cceb, #a1caf0);">
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <p style="color: #323032; font-style: bold; font-size: 3rem;">MK Obuwie<br>
                <span style="color: #fff; font-size: 1rem">Zarządzanie stanem magazynowym</span></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            {% if user.is_authenticated %}
                <h2 class="align-middle mb-4">Jesteś już zalogowany/a, {{ request.user.username }}!</h2>
                    <a class="btn btn-primary" href="{% url 'home' %}">Strona główna</a> <br><br>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Wyloguj</a>
                </div>

            {% else %}

                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <div class="align-middle"><legend class="border-bottom mb-4">Logowanie do sklepu MK Obuwie </legend></div>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <div class="align-middle">
                                <button class="btn btn-info" type="submit">Zaloguj</button>
                                {# <button class="ml-2 ghost-red">Exit</button> #}
                            </div>
                        </div>
                    </form>
                </div>
    <!--            <div class="align-middle"> <a href="{% url 'about' %}">About</a> </div>-->

            {% endif %}

        </div>
    </div>
</div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

</body>

</html>