{% extends "base.html" %}


{% block title %} Usuń produkt {% endblock title %}


{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Usuń produkt</div> <br>
            <h2>Na pewno usunąć: "{{ object.nazwa }}"?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn btn-danger">Tak, usuń</button>
            <a href="{% url 'inventory' %}" class="btn form-control col-4 btn-primary">Wróć</a>
        </div>
        
    </form>

{% endblock content %}